<div class="up">
  <img class = "center" src="https://source.unsplash.com/random/450x270" width=80% height =50% alt="温泉">
  <br>
  <h2>Dig Your Adventure</h2>
</div>
<a class="apply" href = "/trips/new">旅への応募</a>
