<div class = "trip">
  <h3><%= trip.date %>の旅行</h3>
  <table class = "table">
    <tr>
      <th>日付</th>
      <th>人数</th>
    </tr>
    <tr>
      <th><%= trip.date %></th>
      <th><%= trip.number %></th>
    </tr>
  </table>
</div>